---
layout: default
---

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron nanoscope-banner">
    <!-- Github Banner -->
    <div style="position: absolute; top: 0; right: 0; border: 0;">
        <a href="https://github.com/5outh/nanoscope"><img src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    </div>
    <a href="index.html"><img src="./img/NanoscopeLogo-White.png" width="75%" class="center-block"/></a>
    <h3 class="text-center white scp">API Documentation</h3>
</div>

<div class="api">
    <div class="page-header">
        <h1 class="scp text-center">
            Overview
        </h1>
    </div>
    <div class="api-table center-block">
        <div class="row">
            <div class="col-md-12">
                <div class="center-block" style="width:80%">
                    {% markdown api-table.md %}
                </div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2 class="scp text-center">Top-level functions</h2>
    </div>

    <div class="api-function">
        <h3 class="function-name text-center" id="filter"><a href="#filter">filter</a></h3>
        <div class="row">
            <div class="col-md-6">
                <p class="describe">Focus on elements of an array filtered by a regular expression or function.</p>
            </div>

            <div class="col-md-6">
            <pre>
                <code class="js">{% include filter.js %}</code>
            </pre>
            <pre class="out">
                <code class="bash"><i class="fa fa-terminal"></i> [1, 100, 3]
<i class="fa fa-terminal"></i> ['a']</code>
            </pre>
            </div>
        </div>
    </div>


    <div class="page-header">
        <h2 class="scp text-center">Final functions</h2>
    </div>

    <div class="api-function">
        <h3 class="function-name text-center" id="get"><a href="#get">get</a></h3>
        <div class="row">
            <div class="col-md-6">
                <p class="describe">Get the value at the focus of the lens and return it.</p>
            </div>
            <div class="col-md-6">
            <pre>
                <code class="js">var lens = nanoscope([1, 2, 3]).index(2);
                    lens.get();</code>
            </pre>
            <pre class="out">
                <code class="bash"><i class="fa fa-terminal"></i> 3</code>
            </pre>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2 class="scp text-center">Other</h2>
    </div>


    <div class="api-function">
        <h3 class="function-name text-center" id="then"><a href="#then">then</a></h3>
        <div class="row">
            <div class="col-md-6">
                <p class="describe">Alias for the current <code>lens</code>, used for the sole purpose
                of making chains look nicer.</p>
            </div>

            <div class="col-md-6">
                <pre>
                    <code class="js">{% include then.js %}</code>
                </pre>
                <pre class="out">
                    <code class="bash"><i class="fa fa-terminal"></i> 10</code>
                </pre>
            </div>
        </div>
    </div>

</div>