<div class="api-function">
    <!--<h3 class="function-name text-center" id="get">{{include.name}}</h3>-->
    <div class="row">
        <div class="col-md-6">
            <!--<p class="describe">{% include getDescription %}</p>-->
        </div>

        <div class="col-md-6">
                <!--{% include {{include.code}} %}-->
                <pre class="out">
                    <code class="bash"><i class="fa fa-terminal"></i> </code>
                </pre>
        </div>
    </div>
</div>